/* styles.css */

/* Header container */
header {
  padding: 1em;
  display: flex;
  gap: 2rem;
  background-color: #fee4d6;
  
  @media (max-width: 768px) {
    justify-content: center;
  }
}

/* Navigation links */
a {
  color: #000000;
  text-decoration: none;
  transition: 0.1s;

  &:hover {
    font-weight: bold;
  }
}
